<!-- Código del Footer del sitio  -->
<div class="container shadow-lg my-4">

  <footer class="text-center text-lg-start">
    <div class="container-fluid opacity-50 shadow-lg">
      <div class="row align-items-center">
        <div class="col-4 text-center">
          <img src="./assets/img/escudoESCOM_B.png" class="align-content-center logo">
        </div>
        <div class="col-4 text-center ">
          <!--<img src="./assets/img/USAnalytics_3.png" class=" logo">-->
          <p class="text-white fs-5">Urban Sports Analytics - 2023-TT093 </p>
        </div>
        <div class="col-4 text-center">
          <img src="./assets/img/logoIPN_B_2.png" class=" logo">
        </div>
      </div>
    </div>
  </footer>

</div>